body {
    margin: 0;
    font-family: 'Lato', sans-serif;
}








nav#menu {
    background-color: #222;
    text-align: center;

}

nav#menu > ul {
    display: inline-block;
    padding: 25px;
    margin: 0px;
}

nav#menu > ul > li {
    display: inline-block;
}

nav#menu > ul > li > a {
    color: white;
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
}










header#header {
    position: relative;
}

header#header > img {
    width: 100%;
}

header#header > h1 {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    text-align: center;
    color: white;
    text-transform: uppercase;
}









section#about > h2 {
    text-align: center;
}

section#about > p {
    text-align: center;
}

footer#contact {
    background-color: #222;
    text-align: center;
    padding: 20px;

}

footer#contact > h1 {
    color: white;
}

footer#contact > address {
    color: white;

}

footer#contact > a {
    color: white;
}

footer#contact > h3 {
    color: white;
}